#
# Do not add editor or OS specific ignores here. Have a look at adding
# `excludesfile` to your `~/.gitconfig` to globally ignore such things.
#
*.pyc
.coverage
.env
/build/
/config/
coverage.xml
dist/
env/
htmlcov/
nosetests.xml
octodns.egg-info/
output/
tests/zones/unit.tests.
tmp/
