#
# Do not add editor or OS specific ignores here. Have a look at adding
# `excludesfile` to your `~/.gitconfig` to globally ignore such things.
#
/build/
/config/
.coverage
coverage.json
coverage.xml
dist/
docs/_build/
docs/api/cmds/
docs/api/helpers/
docs/api/processors/
docs/api/providers/
docs/api/records/
docs/api/secrets/
docs/api/sources/
.env
env/
examples/migrating-to-octodns/config/
htmlcov/
nosetests.xml
octodns.egg-info/
output/
*.pyc
tests/zones/unit.tests.
tmp/
