include README.md
include CONTRIBUTING.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include docs *.png *.md
include script/*
recursive-include tests *.py
recursive-include tests *.json *.txt *.yaml
recursive-include tests/zones *.
recursive-include tests/zones/tinydns *.*
