Pygments==2.11.2
attrs==21.4.0
bleach==4.1.0
build==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cmarkgfm==0.6.0
colorama==0.4.4
coverage==6.3
docutils==0.18.1
idna==3.3
importlib-metadata==4.10.1
iniconfig==1.1.1
keyring==23.5.0
packaging==21.3
pep517==0.12.0
pkginfo==1.8.2
pluggy==1.0.0
pprintpp==0.4.0
py==1.11.0
pycodestyle==2.8.0
pycountry-convert==0.7.2
pycountry==22.1.10
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.7
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-network==0.0.1
pytest==6.2.5
readme-renderer==32.0
repoze.lru==0.7
requests-toolbelt==0.9.1
requests==2.27.1
rfc3986==2.0.0
toml==0.10.2
tomli==2.0.0
tqdm==4.62.3
twine==3.7.1
urllib3==1.26.8
webencodings==0.5.1
zipp==3.7.0
