PyYaml==5.4
azure-common==1.1.27
azure-identity==1.5.0
azure-mgmt-dns==8.0.0
azure-mgmt-trafficmanager==0.51.0
boto3==1.15.9
botocore==1.18.9
dnspython==1.16.0
docutils==0.16
dyn==1.8.1
edgegrid-python==1.1.1
fqdn==1.5.0
google-cloud-core==1.4.1
google-cloud-dns==0.32.0
jmespath==0.10.0
msrestazure==0.6.4
natsort==6.2.1
ns1-python==0.16.1
ovh==0.5.0
pycountry-convert==0.7.2
pycountry==20.7.3
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.3.3
setuptools==44.1.1
six==1.15.0
python-transip==0.5.0