PyYaml==4.2b1
azure-common==1.1.18
azure-mgmt-dns==2.1.0
boto3==1.7.5
botocore==1.10.5
dnspython==1.15.0
docutils==0.14
dyn==1.8.1
edgegrid-python==1.1.1
futures==3.2.0
google-cloud-core==0.28.1
google-cloud-dns==0.29.0
incf.countryutils==1.0
ipaddress==1.0.22
jmespath==0.9.3
msrestazure==0.6.0
natsort==5.5.0
nsone==0.9.100
ovh==0.4.8
python-dateutil==2.6.1
requests==2.20.0
s3transfer==0.1.13
six==1.11.0
setuptools==38.5.2
