PyYaml==5.4
dnspython==1.16.0
docutils==0.16
fqdn==1.5.0
google-cloud-core==1.4.1
google-cloud-dns==0.32.0
jmespath==0.10.0
natsort==6.2.1
ovh==0.5.0
pycountry-convert==0.7.2
pycountry==22.1.10
python-dateutil==2.8.1
requests==2.25.1
setuptools==60.5.0
python-transip==0.5.0
